click==8.1.7
h5py==3.11.0
matplotlib==3.9.2
mmh3==4.1.0
numpy==2.1.0
packaging==24.1
pyevtk==1.6.0
pytest==8.3.2

# PyTorch Nightly Build (CUDA 13.0)
torch==2.10.0.dev20251018+cu130
torchvision==0.25.0.dev20251018+cu130
torchaudio==2.10.0.dev20251018+cu130

# setuptools muss >= 78.1.1 sein, sonst inkompatibel mit lettuce
setuptools>=80.0.0
